body {
  font-family: Arial;
  text-align: center;
  background: #f4f4f4;
}
h1 {
  color: #2c3e50;
}
nav a {
  margin: 0 10px;
  text-decoration: none;
  color: #2c3e50;
}
nav a:hover {
  color: #e74c3c;
}
